.Formcontainer {
    background-color: darkred;
    border: 5px solid darkgreen;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 40px 40px 60px 40px;
    border-radius: 10px;
  }