.Cardcontainer {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}

.Cardcontainer h2 {
  margin: 0;
}

.Tagscontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 2px;
}

.Answerbutton {
  margin: 5px 200px 5px 200px;
}

.hidden {
  display: none;
}

.App__Card {
  border: 1px solid darkgreen;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.Cardtags {
  padding: 5px;
  margin: 5px;
}