.Cardcontainer {
  border: 5px solid darkred;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
}

.Cardcontainer h2 {
  margin: 0;
}

.Tagscontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 2px;
}

.Answerbutton {
  margin: 5px 100px 5px 100px;
  padding: 10px 10px 10px 10px;
}

.hidden {
  display: none;
}

.Cardtags {
  padding: 5px;
  margin: 5px;
}