.App__Header {
  background-color: darkred;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__Navigation {
  background-color: darkred;
  min-height: 20vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page.current {
  display: block;
}
